body{
    margin: 0;
}
header{
    
    background-color: #333333;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 11px 0px 11px 25px ;
}
.headerimg{
    width: 38px;
    height: 47px;
    filter: invert();
}
span{
    align-items: center;
    padding-left: 20px;
    font-family: "Karla", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: bold;
    color: #ffffff;
    
}
main{
    height: 47.7em;
}
.box1{
    display: flex;
    justify-content: center;
    align-items: center;
    content: '';
    position: absolute;
    top: 100px;
    left: 30px;
    width: 290px;
    height: 225px;
    background: #66a2f048;
    border-radius: 5px;
    transition: 0.9s;
}
.box :hover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2px 0;
    background: #5db463;
}
.box2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 30px;
    transition: 0.5s;
    content: '';
    position: absolute;
    top: 10px;
    left: 20px;
    width: 290px;
    height: 230px;
    background: #5db46373;
    border-radius: 5px;
    transition: 0.9s;
}
.box1 :hover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2px 0;
    background: #66a2f0;
    left: -2.3em;
}

.box3{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 35px;
    transition: 0.5s;
    content: '';
    position: absolute;
    top: 20px;
    left: 40px;
    width: 300px;
    height: 230px;
    background:#db3e3c52;
    border-radius: 5px;
    transition: 0.9s;
}
.box2 :hover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2px 0;
    background: #ff0000;
    height: 15em;
}
.circulo1{
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    transition: 0.3s;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    background:#E69138;
    transition: 0.9s; 
    border: 1px solid rgb(255, 255, 255);
}
.box3 :hover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
    background: yellow;
    height: 10em;
}
.circulo2{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    background: #F6B26B;
    transition: 0.9s; 
    border: 1px solid rgb(255, 255, 255);
}
.circulo1 :hover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2px 0;
    background: rgb(0, 0, 0);
    height: 10em;
}
.circulo3{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background: #783F04;
    transition: 0.9s; 
    border: 1px solid rgb(255, 255, 255);

}
.circulo2 :hover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2px 0;
    background:maroon;
    height: 10em;
}
.circulo4{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #B45F06;
    transition: 0.9s; 
    border: 1px solid rgb(255, 255, 255);
}
.circulo3 :hover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2px;
    height: 8em;
    width: 1em;
    background: rgb(255, 255, 255);
}
.circulo4 :hover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2px 0;
    background:none;
    height: 0em;

}
.mainimg{
    width: 27px;
    height: 27px;
    filter: invert();
}
footer{
    background-color: #EEEEEE;
    padding: 14px 13px 26px 20px ;
    width: 100%;
    position: fixed;
    align-content: flex-end;
    text-align: center;
}
.foot{
    text-align: center ;
    font-family: "Karla", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #000000;
}